body {
    /*background-image: url("img/balloon-1.jpg");*/
    background-image: url("https://thumbs.gfycat.com/CloseUntimelyGourami-size_restricted.gif");
    background-size: cover;
}

.logo {
    width: 40px;
    margin-right: 20px;
}

.navbar {
    background: #000000;
}

.navbar-toggler {
    background: white;
}

.nav-title {
    font-weight: bold;
    color: white !important;
}

.navbar-list a {
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
}

.navbar-list a li {
    color: white;
}

.navbar-list a li:hover {
    color: #00ccff;
}

.title {
    text-align: center;
    color: white;
    padding: 30px;
}

.heading {
    text-align: center;
    padding: 20px;
    color: white;
}

.title-screen {
    background-image: linear-gradient(to bottom, rgba(0,175,255,1), rgba(0,175,255,0.2));
    width: 100vw;
    height: 100vh;
}

@media (min-width: 768px) {
    h1 {
        font-size: 50px;
    }

    h3 {
        font-size: 30px;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 70px;
    }

    h3 {
        font-size: 50px;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 100px;
    }

    h3 {
        font-size: 70px;
    }
}